# Compiled code #
*.class
*.pyc

# Package Files #
*.jar
*.war
*.ear

# Build locations #
overlays/
target/

# Project metadata #
.idea/
.classpath
.factorypath
.project
.pydevproject
.apt_generated/
.settings/
test-output/
*.iml
*.ipr
*.iws

# Temporary files #
*~

# Backup files #


# Backup files #
*.versionsBackup
